* {
    box-sizing: content-box;
}
html {
    min-width: 550px;
    overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

input[type='number'],
input[type='text'] {
    margin: 0;
    padding: 0.25rem 0.375rem;
}

.color-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.color-input .color-output {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid hsl(0, 0%, 20%);
}

/* Firefox only */
.only-firefox {
    display: none;
}

@-moz-document url-prefix('') {
    .only-firefox {
        display: block;
    }
}
